<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="levelFormat" value="${level:uppercase=true}" />
  <!-- Logger.Error(ex) is shorthand for Logger.Error("{0}", ex), so calling it this way renders the exception's
  ToString() as the log event's message, which is why exceptions print twice with ${exception:format=ToString} appended
  to the layout ... as a workaround you can use ${message:withException=true} -->
  <variable name="myLayout" value="${longdate} >> ${levelFormat} >> ${logger} >> ${message:withException=true}" />
	
  <!-- Nicer looking logs, a little slower because of $callsite capture.  className & methodName false here prevents
  callsite data from being automatically added to the bottom of each log event.  I only want to display the method name
  in the event header.  If performance suffers, remove the ${callsite...} part and the method name will be omitted. -->
  <variable name="niceLayout" value="${niceLog}${callsite:className=false:methodName=false}" />

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="logFile" fileName="nlog.log"
            layout="${niceLayout}"
            deleteOldFileOnStartup="true" />

    <target xsi:type="ColoredConsole" name="colorConsole" useDefaultRowHighlightingRules="false" enableAnsiOutput="true" layout="${niceLayout}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" backgroundColor="NoChange" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Blue" backgroundColor="NoChange" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="NoChange" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="NoChange" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logFile, colorConsole" />
  </rules>
</nlog>
