<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="MSLevelFormat" value="${level:lowercase=true:truncate=4:when=level==LogLevel.Info or level==LogLevel.Warn}${when:when=level==LogLevel.Error:inner=fail}${when:when=level==LogLevel.Fatal:inner=crit}${when:when=level==LogLevel.Debug:inner=dbug}${when:when=level==LogLevel.Trace:inner=trce}" />
    <variable name="myLayout" value="${longdate} | ${MSLevelFormat} | ${logger} | ${message:withexception=true}" />

    <targets async="true">
        <target name="console" xsi:type="Console" layout="${myLayout}" writeBuffer="true" />    
        <target name="colorconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" enableAnsiOutput="true" layout="${myLayout}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" backgroundColor="NoChange" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Blue" backgroundColor="NoChange" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="NoChange" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="NoChange" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
        <target name="file" xsi:type="File" fileName="cave-${hostname}.log">
            <layout xsi:type="LayoutWithHeaderAndFooter">
                <header xsi:type="SimpleLayout" text="${longdate} ----------Application startup----------" />
                <layout xsi:type="SimpleLayout" text="${myLayout}" />
                <footer xsi:type="SimpleLayout" text="${longdate} --------Application terminated---------" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="colorconsole" />
        <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
</nlog>
